<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ElmahExtensions" type="ElmahExtensions.ElmahExtentsionsConfigurationSectionHandler, ElmahExtensions"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <!--        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="cat.log" />-->
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <ElmahExtensions>
    <CustomErrorHandlerConfiguration ErrorHandlerLoggingLevel="Debug">
      <ErrorHandlers>
        <ErrorHandlerSection Name="Section01">
          <ErrorConditions>
            <DummyErrorCondition />
            <ElmahErrorMessageSubstringCondition Substring="object reference not set" />
          </ErrorConditions>
          <ErrorActions>
            <DummyErrorAction Name="TestAction01" />
            <WriteToEventLogErrorAction
              Name="EventLogger01"
              EventLogEntryType="Warning"
              SourceName="Test"
              StringFormat="Error occurred in [${ApplicationName}]: Details: [${Detail}]" />
          </ErrorActions>
        </ErrorHandlerSection>
        <ErrorHandlerSection Name="Section02">
          <ErrorConditions>
            <CatchAllErrorCondition />
            <ExceptionTypeErrorCondition TypeName="System.NullReferenceException"/>
          </ErrorConditions>
          <ErrorActions>
            <SendEmailErrorAction
              EnableSsl="true"
              From="talktopete@gmail.com"
              Recipients="reallifedata@gmail.com,talktopete@gmail.com"
              CcRecipients="talktopete@gmail.com"
              FormattedSubject="Error occurred in application [${ApplicationName}]"
              FormattedBody="Details: [${Detail}]"
          />
          </ErrorActions>
        </ErrorHandlerSection>
      </ErrorHandlers>
    </CustomErrorHandlerConfiguration>
  </ElmahExtensions>
  <system.net>
    <mailSettings>
      <smtp from="talktopete@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="talktopete@gmail.com" password="xxx" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>